MYSQL_HOST=tu_host_mysql
MYSQL_PORT=3306
MYSQL_DATABASE=biblioteca_db
MYSQL_USER=tu_usuario_mysql
MYSQL_PASSWORD=tu_password_mysql

MONGODB_URI=mongodb+srv://tu_usuario:tu_password@tu_cluster.mongodb.net/biblioteca_logs?appName=Cluster0